<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <section th:insert="~{base :: bootstrap_link}"></section>

    <title>Fake User Generator</title>
</head>
<body>
            <!--navbar-->
<section th:insert="~{base :: navbar}"></section>

<h1 class="text-center mt-50">Home</h1>



<section th:insert="~{base :: bootstrap_script_link}"></section>

</body>
</html>
